.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

// Buttons
.button-on-primary {
  color: var(--color-on-primary);

  &:hover {
    color: var(--color-on-primary--hover);
  }

  &:active {
    color: var(--color-on-primary--active);
  }
}
