:root {
  --color-primary: #203a43;
  --color-secondary: #3b6064;
  --color-accent: #86acb9;
  --color-bg: #1b2329;
  --color-titlebar: #2f3941;
  --color-surface: #2f3941;
  --color-on-primary: #cfcfcf;
  --color-on-secondary: #ffffff;
  --color-on-bg: #ffffff;
  --color-on-surface: #ffffff;

  --color-titlebar: #101214;
  --color-titlebar-active: #262d31;
  --color-titlebar-hover: #3f4a52;

  --color-on-primary--hover: #ffffff;
  --color-on-primary--active: #c7c7c7;
}
