:root {
  --color-primary: #203a43; /* Primary color - Dark Blue */
  --color-secondary: #3b6064; /* Secondary color - Darker Cyan */
  --color-accent: #86acb9; /* Accent color - Lighter Blue */
  --color-bg: #1b2329; /* Background color - Very Dark Blue */
  --color-titlebar: #2f3941; /* Titlebar color - Grey Blue */
  --color-surface: #2f3941; /* Surface color - Grey Blue */
  --color-on-primary: #cfcfcf; /* Text color on Primary - White */
  --color-on-secondary: #ffffff; /* Text color on Secondary - White */
  --color-on-bg: #ffffff; /* Text color on Background - White */
  --color-on-surface: #ffffff; /* Text color on Surface - White */
}
