:root {
  --font-xxs: 0.625rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-xxxl: 2rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.5rem;
  --font-xxxl: 2rem;
  --font-xxxxl: 2.5rem;
  --font-xxxxxl: 3rem;
  --font-xxxxxxl: 3.5rem;
}
