.top-panel {
  display: block;
  height: 4rem;
  width: 100%;
  left: 0;
  z-index: 100;
  margin-bottom: 17px;
  color: var(--color-on-bg);

  .top-panel__controls {
    width: 26rem;
    min-width: 0;
    height: auto;
    display: flex;
    justify-content: space-between;

    .top-panel__controls__main {
      height: 5rem;
      width: 12rem;
      background-color: var(--color-primary);
      padding: 1rem;
      display: flex;
      flex-direction: column;

      .top-panel__controls__shuffle-repeat {
        display: inline-flex;
      }

      .top-panel__controls__progress {
        margin-top: 10px;
        margin-inline: 2px;

        .top-panel__controls__progress__slider {
          display: block;
          width: calc(100% - 82px);

          -webkit-appearance: none;
          appearance: none;
          background-color: oklch(0 0 0 / 40%);
          height: 3px;
          border-radius: 5px;
          outline: none;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            background-color: var(--color-on-primary);
            filter: drop-shadow(0 1px 2px oklch(0 0 0 / 50%));
            cursor: pointer;
            border-radius: 50%;
            cursor: auto;
          }
        }
      }
    }

    span,
    i {
      font-size: var(--font-xxxxxxl);
    }

    .top-panel__controls__volume {
      position: absolute;
      left: 140px;
      top: 94px;

      i {
        font-size: var(--font-xxl);
      }

      .top-panel__controls__volume__slider {
        -webkit-appearance: none;
        appearance: none;
        background-color: oklch(0 0 0 / 40%);
        height: 3px;
        border-radius: 5px;
        outline: none;
        position: absolute;
        top: 9px;
        margin-left: 10px;
        width: 40px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 12px;
          height: 12px;
          background-color: var(--color-on-primary);
          filter: drop-shadow(0 1px 2px oklch(0 0 0 / 50%));
          cursor: pointer;
          border-radius: 50%;
          cursor: auto;
        }
      }
    }
  }

  .top-panel__controls__shuffle-repeat {
    display: flex;
    flex-direction: column;
    align-self: center;

    i {
      font-size: var(--font-xxl);
    }
  }
}
